header {
	margin: 50px 0;
}

.container-fluid {
	margin-bottom: 70px;
}

button {
	border: 0;
	outline: 0;
	padding: 15px;
	font-size: 15px;
	cursor: pointer;
}

.center {
	text-align: center;
}

.box {
	height: 300px;
	border: 1px solid black;
	text-align: center;
	line-height: 300px;
	font-size: 35px;
	color: black;
	background: #f9f2f4;

}

/* manage page */
#accordian {
	margin: 0 20px;
	padding: 20px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#accordian > ul{
	margin: 0;
	padding: 0;
}

#accordian h3 {
	font-size: 20px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;

}
#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

#accordian h3 span {
	font-size: 15px;
	margin-right: 10px;
}
#accordian li {
	list-style-type: none;
}

#accordian ul ul li a {

	text-decoration: none;
	font-size: 15px;
	line-height: 27px;
	display: block;
	padding: 0 10px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	-ms-transition: all 0.15s;
	transition: all 0.15s;
	color: #bbbbbb;
}
#accordian ul ul li a:hover {
	background: #003545;
	color: white;
	border-left: 5px solid #09c;
}

#accordian ul ul {
	display: none;
}
#accordian li.active ul {
	display: block;
}


.line {
	border: 1px solid black;
	padding: 0 !important;
}
.title {
	position: relative;
	height: 60px;


}

.title h3{
	position: absolute;
	left: 0;
	font-weight: 800;

}
.deleteButton {
	position: absolute;
	right: 0;
	top:10px;
	padding: 10px;
}
/*============================line========================*/

.greyLine {
	border: 1px solid #bbbbbb !important;
	padding: 15px;
	margin-bottom: 20px;
}

.orderSubTitle {
	width: 100%;
	background: #777777 ;
	text-align: center;
	padding: 2px 0;
	color: white;
}

.orderInfoDiv{
	border-bottom: 1px solid #777777;
	padding: 10px;
}

.orderInfoDiv span{
	display: inline-block;
	width:45%;
}
.orderInfoDiv span:nth-child(1){
	font-weight: 800;
}

.orderInfoDiv span select{
	height: 25px;
}

.changeStatus {
	width: 30%;
	margin: 10px 0 ;
}


/*------------------------------ table------------------------------ */
table {
	border : 1px solid black;
	width: 100%;
}

table tr{
	height: 50px;
	border-bottom: 1px solid black;
}

table th,td{

	text-align: center;
}

table thead tr th {
	font-size: 15px;
	font-weight: 100;
}

